h1{                                           
  text-align: center;                         
  font-size: 150px;                           
  margin-top: 40px;                           
  color: palevioletred;                       
}                                             
.box1{                                        
     display: flex;                           
     justify-content: space-around;           
     margin-top: 60px;                        
   }                                          
.box {                                        
  text-align: center;                         
}                                             
                                              
   #Tim {                                     
     display: flex;                           
     width: 200px;                            
     height: 200px;                           
     background-color: black;                 
   }                                          
                                              
   #Malthe {                                  
     display: flex;                           
     justify-content: center;                 
     width: 200px;                            
     height: 200px;                           
     background-color: black;                 
   }                                          
                                              
   #Nicolai {                                 
     display: flex;                           
     justify-content: flex-end;               
     width: 200px;                            
     height: 200px;                           
     background-color: black;                 
   }                                          
